
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Market Prediction</title>
</head>
<body>
    <h2>Fish Market Prediction</h2>
    <form action="/predict" method="post">
        <label for="Length1">Length1:</label>
        <input type="text" id="Length1" name="Length1"><br><br>
        
        <label for="Length2">Length2:</label>
        <input type="text" id="Length2" name="Length2"><br><br>
        
        <label for="Length3">Length3:</label>
        <input type="text" id="Length3" name="Length3"><br><br>
        
        <label for="Height">Height:</label>
        <input type="text" id="Height" name="Height"><br><br>
        
        <label for="Width">Width:</label>
        <input type="text" id="Width" name="Width"><br><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>
